# SQL Commander specific
logs/
sqlcommander.settings.json
.env

# ASP.NET Core
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.pdb
*.exe

# Visual Studio
.vs/
.vscode/

# Client-side libraries (restored via LibMan)
wwwroot/lib/
!wwwroot/lib/README.md
SqlCommander/wwwroot/lib/bootstrap/LICENSE
SqlCommander/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css
SqlCommander/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css.map
SqlCommander/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css
SqlCommander/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css.map
SqlCommander/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.css
SqlCommander/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.css.map
SqlCommander/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css
SqlCommander/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css.map
SqlCommander/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css
SqlCommander/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css.map
SqlCommander/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css
SqlCommander/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css.map
SqlCommander/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css
SqlCommander/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css.map
SqlCommander/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css
SqlCommander/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css.map
SqlCommander/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.css
SqlCommander/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.css.map
SqlCommander/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.min.css
SqlCommander/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.min.css.map
SqlCommander/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css
SqlCommander/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css.map
SqlCommander/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css
SqlCommander/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css.map
SqlCommander/wwwroot/lib/bootstrap/dist/css/bootstrap.css
SqlCommander/wwwroot/lib/bootstrap/dist/css/bootstrap.css.map
SqlCommander/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
SqlCommander/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
SqlCommander/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.css
SqlCommander/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.css.map
SqlCommander/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.min.css
SqlCommander/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.min.css.map
SqlCommander/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js
SqlCommander/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js.map
SqlCommander/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js
SqlCommander/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map
SqlCommander/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.js
SqlCommander/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.js.map
SqlCommander/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.min.js
SqlCommander/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.min.js.map
SqlCommander/wwwroot/lib/bootstrap/dist/js/bootstrap.js
SqlCommander/wwwroot/lib/bootstrap/dist/js/bootstrap.js.map
SqlCommander/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js
SqlCommander/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js.map
SqlCommander/wwwroot/lib/jquery/LICENSE.txt
SqlCommander/wwwroot/lib/jquery/dist/jquery.js
SqlCommander/wwwroot/lib/jquery/dist/jquery.min.js
SqlCommander/wwwroot/lib/jquery/dist/jquery.min.map
SqlCommander/wwwroot/lib/jquery-validation/LICENSE.md
SqlCommander/wwwroot/lib/jquery-validation/dist/additional-methods.js
SqlCommander/wwwroot/lib/jquery-validation/dist/additional-methods.min.js
SqlCommander/wwwroot/lib/jquery-validation/dist/jquery.validate.js
SqlCommander/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
SqlCommander/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
SqlCommander/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
SqlCommander/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
